<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()" class="prz-btn-o">
        <ion-icon [color]="'light'" ios="ios-arrow-down-outline" md="ios-arrow-down-outline" class="fsz30"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content no-padding>
  <!--<ion-item [ngClass]="{active: item.isActive}" (click)="setChart(item)" *ngFor="let item of charts" class="prz-list-a">-->
    <!--<span class="prz-list-a-name">{{ item.name }}</span>-->

    <!--<ion-icon class="prz-list-a-arr" item-right name="checkmark"></ion-icon>-->
  <!--</ion-item>-->


  <ion-row>
    <ion-col col-2>
    </ion-col>
    <ion-col col-3>
      <span class="prz-filter-name">Chart</span>
    </ion-col>
    <ion-col col-7 no-padding>
      <div (click)="setChart(item)" [ngClass]="{active: item.isActive}" *ngFor="let item of charts" class="prz-filter-item">
        {{item.name}}
      </div>
    </ion-col>
  </ion-row>
</ion-content>





