.fsz14 {
  font-size: 12px;
}
.fsz12 {
  font-size: 10px;
}

.prz{
  &-btn{
    &-a, &-b {
      color: #fff;
      border-radius: 25px;
      padding: 8px 10px;
      font-size: 11px;
    }

    &-a{
      &_big{
        border-radius: 0;
      }
    }

    &-d{
      font-size: 14px;
      padding: 10px;
    }

    &-e{
      width: 25px;
      height: 25px;
      margin: 0 0 0 4px;
      .prz-svg-a{
        svg{
          width: 15px;
          height: 15px;
        }
      }
    }

    &-h{
      &_big {
        width: 35px;
        height: 35px;
      }
    }

    &-g {
      height: 35px;
      width: 35px;
    }

    &-c{
      &_white {
        background: white;
        width: 35px;
        height: 35px;
      }
    }
  }


  &-wp{
    &-c{
      height: 160px;
    }
    &-d{
      height: 180px;
    }
  }


  &-box{
    &-a{
      height: 300px;
      &-wp {
        padding: 0 10px;
      }

      &-info{
        &-name {
          font-size: 26px;
        }
        &-track {
          font-size: 10px;
        }
      }

      &_small {
        height: 220px;
      }
    }

    &-b {
      width: 160px;
      height: 160px;
      &-name {
        font-size: 16px;
      }
    }

    &-c{
      width: 160px;
      height: 160px;
      &-wp {
        padding: 5px 10px;
      }
      &-title {
        font-size: 14px;
      }
      &_2inrow{
        width: 100%;
      }
      &_full{
        width: 100%;
      }
      &_big {
        height: 220px;
        width: 100%;
      }
    }

    &-e {
      width: 180px;
      height: 180px;
      &-wp {
        padding: 5px 10px;
      }
      &-title {
        font-size: 16px;
      }
      &-info {
        font-size: 12px;
      }
      &-date {
        padding: 2px 10px 5px;
      }

      &_2inrow{
        width: 100%;
      }
    }

    &-d {
      margin: 0 20px 15px;
      &-info{
        &-track {
          font-size: 16px;
        }
      }
    }

    &-g{
      min-height: 135px;
      &-info{
        &-h1 {
          font-size: 18px;
          padding-left: 5px;
        }
        &-h2 {
          font-size: 14px;
          padding-left: 5px;
          margin: 0;
        }
        &-soc{
          margin-top: 15px;
          padding: 0;
        }
      }
    }

    &-j{
      &-tweet{
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 0;
      }
      &-from{
        color: white;
        font-size: 12px;
        line-height: 16px;
      }

      &_trans{
        margin: 0;
      }
    }

    &-h {
      margin: 0 20px 20px;
    }

    &-k{
      &-radio1, &-radio2, &-radio3, &-radio4, &-radio5 {
        height: 50px;
      }
    }

    &-f{
      &-label {
        font-size: 14px;
      }
      &-input {
        font-size: 13px;
      }
    }
  }


  &-title{
    &-a{
      padding: 15px 20px;
    }

    &-a, &-d {
      font-size: 22px;
    }

    &-c {
      font-size: 24px;
      padding: 25px 25px 5px;
    }

    &-e {
      font-size: 14px;
    }
  }


  &-text{
    &-b {
      font-size: 12px;
    }
  }


  &-modal{
    &-a {
      width: 120px;
    }
  }


  &-play{
    &-box {
      height: 320px;

      &-a {
        height: 250px;
        &-logo {
          height: 40px;
        }
      }
    }
  }

}
