<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only back class="prz-btn-o">
        <ion-icon [color]="'light'" ios="ios-arrow-back" md="ios-arrow-back" class="fsz30"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Residents DJ's</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-row class="pr10">
    <ion-col col-1 class="tac">
      <div (click)="search(item)" *ngFor="let item of letters" [ngClass]="{active: item.isActive}" class="prz-btn-h">{{item.name}}</div>
    </ion-col>
    <ion-col col-11>
      <div class="prz-wp-a">
        <div (click)="openArtist(i)" *ngFor="let i of artists" class="prz-box-c_2inrow">
          <div class="prz-box-c-bg" [ngStyle]="{background: 'url(' + i.image[0] + ') center 0 no-repeat'}"></div>

          <div class="prz-box-c-wp">
            <div class="prz-box-c-title">{{i.name}}</div>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>



  <div style="height: 56px;display: block;"></div>
</ion-content>




