<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only back class="prz-btn-o">
        <ion-icon [color]="'light'" ios="ios-arrow-back" md="ios-arrow-back" class="fsz30"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Jobs</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content no-padding>
  <div (click)="openJob(job)" *ngFor="let job of jobs; let first = first;" [ngClass]="{mt10: first}" class="prz-box-h">
    <div class="prz-box-h-header">
      <div class="cw fsz20 w100p mb10">{{job.title}}</div>
      <div class="c1 fsz14 w100p">location: {{job.location}}</div>
    </div>

    <div class="prz-box-h-footer">
      <button *ngFor="let item of job.jobs_tags" class="prz-btn-f mr5 mt5 dibM">{{item.tag}}</button>
    </div>
  </div>






  <div style="height: 56px;display: block;"></div>
</ion-content>
