<ion-header>
  <ion-toolbar [hidden]="true">
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <button back class="prz-box-a-back">
    <ion-icon [color]="'light'" ios="ios-arrow-back" md="ios-arrow-back" class="fsz30"></ion-icon>
  </button>
  <div #map id="map"></div>

  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <ion-row align-items-center class="prz-box-f">
      <ion-col col-4>
        <label class="prz-box-f-label">Name</label>
      </ion-col>
      <ion-col col-8>
        <ion-input formControlName="name" type="text" placeholder="Your Name..." class="prz-box-f-input"></ion-input>
      </ion-col>
    </ion-row>


    <ion-row align-items-center class="prz-box-f">
      <ion-col col-4>
        <label class="prz-box-f-label">E-mail</label>
      </ion-col>
      <ion-col col-8>
        <ion-input formControlName="mail" type="email" placeholder="Your E-mail..." class="prz-box-f-input"></ion-input>
      </ion-col>
    </ion-row>


    <ion-row align-items-center class="prz-box-f">
      <ion-col col-4>
        <label class="prz-box-f-label">Phone</label>
      </ion-col>
      <ion-col col-8>
        <ion-input formControlName="phone" type="tel" placeholder="Your Phone Number..." class="prz-box-f-input"></ion-input>
      </ion-col>
    </ion-row>


    <ion-row align-items-center class="prz-box-f">
      <ion-col col-4>
        <label class="prz-box-f-label">Category</label>
      </ion-col>
      <ion-col col-8 class="prz-box-f-arr">
        <ion-input (ionFocus)="openModal(categoryList, 'category')" formControlName="category" type="button" value="Category..." class="prz-box-f-input"></ion-input>
        <ion-icon name="md-arrow-dropdown"></ion-icon>
      </ion-col>
    </ion-row>


    <ion-row align-items-center class="prz-box-f">
      <ion-col col-4>
        <label class="prz-box-f-label">Radio St.</label>
      </ion-col>
      <ion-col col-8 class="prz-box-f-arr">
        <ion-input (ionFocus)="openModal(radioList, 'radio')" formControlName="radio" type="button" value="Radio..." class="prz-box-f-input"></ion-input>
        <ion-icon name="md-arrow-dropdown"></ion-icon>
      </ion-col>
    </ion-row>


    <ion-row class="prz-box-f">
      <ion-col col-4>
        <div class="prz-box-f-label" style="padding: 9px 0 0;">Message</div>
      </ion-col>
      <ion-col col-8>
        <ion-textarea formControlName="message" class="prz-box-f-input" rows="4"></ion-textarea>
      </ion-col>
    </ion-row>


    <ion-row class="prz-box-f">
      <ion-col col-4>
      </ion-col>
      <ion-col col-8>
        <label>
          <ion-checkbox formControlName="agree" color="dark" class="dibM"></ion-checkbox>
          <span class="fsz12 dibM ml5">I agree to the Terms & Conditions</span>
        </label>
      </ion-col>
    </ion-row>


    <ion-row align-items-center class="prz-box-f">
      <ion-col col-4>
        <a back class="prz-link-a">Cancel</a>
      </ion-col>
      <ion-col col-8>
        <button [ngClass]="{inactive: form.invalid}" type="submit" class="prz-btn-a w100p">Continue</button>
      </ion-col>
    </ion-row>


    <div style="height: 56px;display: block;"></div>
  </form>
</ion-content>



