<ion-header>
  <ion-toolbar [hidden]="true">
  </ion-toolbar>
</ion-header>


<ion-content no-padding>
  <div [ngClass]="{'prz-blur-a': blurOnFilter}">
    <div class="prz-box-a">
      <div *ngIf="main && main.image" [ngStyle]="{background: 'url(' + main.image + ') center center no-repeat'}" class="prz-box-a-bg"></div>

      <ion-row bottom class="prz-box-a-wp">
        <ion-col col-8 class="prz-box-a-info">
          <div *ngIf="main && main.title" class="prz-box-a-info-name">{{main.title}}</div>
          <div *ngIf="main && main.subtitle" class="prz-box-a-info-track">{{main.subtitle}}</div>
        </ion-col>
        <ion-col col-4 class="tar">
          <button (click)="openResidents()" class="prz-btn-a">More</button>
        </ion-col>
      </ion-row>
    </div>


    <div class="prz-title-a">Highlighted</div>
    <ion-scroll scrollX="true" class="prz-wp-c">
      <div *ngIf="top && top.highlighted" class="wsn">
        <div *ngFor="let i of top.highlighted" class="prz-box-b">
          <div [ngStyle]="{background: 'url(' + i.track.cover + ') center center no-repeat'}" class="prz-box-b-bg"></div>

          <div class="prz-box-b-wp">
            <div class="prz-box-b-name">{{i.track.title}}</div>
            <div class="prz-box-b-time">{{i.track.artist}}</div>
          </div>
        </div>
      </div>
    </ion-scroll>

    <div class="hr"></div>

    <div class="prz-title-a">Latest News</div>
    <ion-scroll scrollX="true" class="prz-wp-c">
      <div class="wsn">
        <div (click)="openNews(i)" *ngFor="let i of news" class="prz-box-c">
          <div [ngStyle]="{background: 'url(' + i.image + ') center center no-repeat'}" class="prz-box-c-bg"></div>

          <div class="prz-box-c-wp">
            <div class="prz-box-c-title">{{i.title}}</div>
            <div class="prz-box-c-date">{{i.updatedAt | date: 'MMM dd, y'}}</div>
            <!--Jan 25, 2017-->
          </div>
        </div>
      </div>
    </ion-scroll>

    <div class="hr"></div>

    <ion-row align-items-center>
      <ion-col col-6>
        <div class="prz-title-a">Chart</div>
      </ion-col>
      <ion-col col-6 class="tar">
        <button (click)="setChartTopFilter()" class="prz-btn-b mr15">Filter</button>
      </ion-col>
    </ion-row>
    <div *ngFor="let i of chartTop" class="prz-box-d">
      <ion-row>
        <ion-col col-2>
          <div [ngStyle]="{background: 'url(' + i.track.cover + ') center center no-repeat'}" class="prz-box-d-bg"></div>
        </ion-col>
        <ion-col center col-8>
          <div class="prz-box-d-info">
            <div class="prz-box-d-info-track">{{i.track.title}}</div>
            <div class="prz-box-d-info-name">{{i.track.artist}}</div>
          </div>
        </ion-col>
        <ion-col center col-2 class="tar">
          <ion-icon name="md-arrow-dropright" class="prz-box-d-arr"></ion-icon>
        </ion-col>
      </ion-row>
    </div>

    <div class="hr"></div>



    <div *ngIf="events">
      <div class="prz-title-a">Events</div>
      <ion-scroll scrollX="true" class="prz-wp-d">
        <div class="wsn">
          <div (click)="openEvent(i)" *ngFor="let i of events" class="prz-box-e">
            <div [ngStyle]="{background: 'url(' + i.image + ') center center no-repeat'}" class="prz-box-e-bg"></div>

            <div class="prz-box-e-date">
              <div class="prz-box-e-date-num">{{i.date_time | date: 'dd'}}</div>
              {{i.date_time | date: 'MMM'}}
            </div>

            <div class="prz-box-e-wp">
              <div class="prz-box-e-title">{{i.title}}</div>
              <div class="prz-box-e-info">{{i.city}} / {{i.place}}</div>
            </div>
          </div>
        </div>
      </ion-scroll>
    </div>


    <div style="height: 80px;display: block;"></div>
  </div>
</ion-content>






