<ion-header>
  <ion-toolbar [hidden]="true">
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="artist" no-padding>
  <button back class="prz-box-a-back">
    <ion-icon [color]="'light'" ios="ios-arrow-back" md="ios-arrow-back" class="fsz30"></ion-icon>
  </button>

  <div class="prz-bg-a">
    <div [ngStyle]="{background: 'url(' + artist.image[0] + ') center 0 no-repeat'}" class="prz-bg-a-bg"></div>
  </div>


  <div class="prz-box-m">
    <ion-row class="prz-box-g">
      <ion-col [ngStyle]="{background: 'url(' + artist.image[0] + ') center center no-repeat'}" col-4 class="prz-box-g-ava">
      </ion-col>
      <ion-col align-self-end col-8 class="prz-box-g-info">
        <div class="prz-box-g-info-h1">{{artist.name}}</div>
        <div class="prz-box-g-info-h2">
          Parazhit
          <span class="flu">{{artist.contract}}</span>
          DJ
        </div>

        <div class="prz-box-g-info-soc">
          <button (click)="openRadioShows()" class="prz-btn-a dibM">Radio Show</button>

          <button *ngIf="artist.facebook" (click)="openLink(artist.facebook)" class="prz-btn-e ml10 dibM">
            <span [inlineSVG]="'./assets/svg/fb.svg'" class="prz-svg-a prz-svg-white"></span>
          </button>
          <button *ngIf="artist.twitter" (click)="openLink(artist.twitter)" class="prz-btn-e ml10 dibM">
            <span [inlineSVG]="'./assets/svg/tw.svg'" class="prz-svg-a prz-svg-white"></span>
          </button>
          <button *ngIf="artist.instagram" (click)="openLink(artist.instagram)" class="prz-btn-e ml10 dibM">
            <span [inlineSVG]="'./assets/svg/sc.svg'" class="prz-svg-a prz-svg-white"></span>
          </button>
        </div>
      </ion-col>
    </ion-row>
    <div class="hr mt10 mb20"></div>



    <div *ngIf="artist.biography">
      <div class="ph20">
        <div class="prz-title-d">Biography</div>
        <div [innerHtml]="artist.biography | truncate: biographyLimit" class="c1 fsz14 lh22"></div>


        <div class="tar mt10">
          <button (click)="toggleBiography()" class="prz-btn-b">More</button>
        </div>
      </div>
      <div class="hr"></div>
    </div>


    <div *ngIf="artist.news">
      <div class="prz-title-a">Artist News</div>
      <ion-scroll scrollX="true" class="prz-wp-c">
        <div class="wsn">
          <div *ngFor="let i of artist.news" class="prz-box-c">
            <div [ngStyle]="{background: 'url(' + i.image + ') center center no-repeat'}" class="prz-box-c-bg"></div>

            <div class="prz-box-c-wp">
              <div class="prz-box-c-title">{{i.title}}</div>
              <div class="prz-box-c-date">{{i.updatedAt | date: 'MMM dd, y'}}</div>
            </div>
          </div>
        </div>
      </ion-scroll>
      <div class="hr"></div>
    </div>


    <div *ngIf="artist.tweets">
      <div class="ph20">
        <div class="prz-title-a">Artist Tweets</div>
        <ion-row *ngFor="let i of artist.tweets | slice:0:tweetsLimit" class="prz-box-j_def">
          <ion-col col-1 class="tac">
            <span [inlineSVG]="'./assets/svg/tw.svg'" class="prz-svg-a prz-svg-pink"></span>
          </ion-col>
          <ion-col col-11 class="tal">
            <div [innerHTML]="i.text" class="prz-box-j-tweet"></div>
            <div (click)="openLink('https://twitter.com/' + i.user.screen_name)" class="prz-box-j-from">@Dimitrivegas 8min.</div>
          </ion-col>
        </ion-row>

        <div class="tar">
          <button (click)="toggleTweets()" class="prz-btn-b">More</button>
        </div>
      </div>
      <div class="hr"></div>
    </div>



    <div *ngIf="artists">
      <div class="prz-title-a">Residents DJ's</div>
      <ion-scroll scrollX="true" class="prz-wp-c">
        <div class="wsn">
          <div (click)="openResident(i)" *ngFor="let i of artists" class="prz-box-c">
            <div class="prz-box-c-bg" [ngStyle]="{background: 'url(' + i.image[0] + ') center 0 no-repeat'}"></div>

            <div class="prz-box-c-wp">
              <div class="prz-box-c-title">{{i.name}}</div>
            </div>
          </div>
        </div>
      </ion-scroll>
    </div>





    <div style="height: 80px;display: block;"></div>
  </div>
</ion-content>




