@keyframes music {
  to {
    height: 0;
  }
}

.bgw{
  background: white;
}
.cw{
  color: white !important;
}
.cb{
  color: #000;
}
.c1{
  color: #868889;
}
.c2{
  color: #e52cbc;
}
.grd1{
  background: #6730b9;
  background: -moz-linear-gradient(-45deg, #6730b9 0%, #ba3091 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #6730b9), color-stop(100%, #ba3091));
  background: -webkit-linear-gradient(-45deg, #6730b9 0%, #ba3091 100%);
  background: -o-linear-gradient(-45deg, #6730b9 0%, #ba3091 100%);
  background: -ms-linear-gradient(-45deg, #6730b9 0%, #ba3091 100%);
  background: linear-gradient(135deg, #6730b9 0%, #ba3091 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6730b9', endColorstr='#ba3091', GradientType=1 );
}
.grd2{
  background: #ba3091;
  background: -moz-linear-gradient(-45deg, #ba3091 0%, #f0952c 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ba3091), color-stop(100%, #f0952c));
  background: -webkit-linear-gradient(-45deg, #ba3091 0%, #f0952c 100%);
  background: -o-linear-gradient(-45deg, #ba3091 0%, #f0952c 100%);
  background: -ms-linear-gradient(-45deg, #ba3091 0%, #f0952c 100%);
  background: linear-gradient(135deg, #ba3091 0%, #f0952c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba3091', endColorstr='#f0952c', GradientType=1 );
}
.grd3{
  background: #f0952c;
  background: -moz-linear-gradient(-45deg, #f0952c 0%, #8ef02c 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #f0952c), color-stop(100%, #8ef02c));
  background: -webkit-linear-gradient(-45deg, #f0952c 0%, #8ef02c 100%);
  background: -o-linear-gradient(-45deg, #f0952c 0%, #8ef02c 100%);
  background: -ms-linear-gradient(-45deg, #f0952c 0%, #8ef02c 100%);
  background: linear-gradient(135deg, #f0952c 0%, #8ef02c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0952c', endColorstr='#8ef02c', GradientType=1 );
}
.grd4{
  background: #8ef02c;
  background: -moz-linear-gradient(-45deg, #8ef02c 0%, #2c9ef0 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #8ef02c), color-stop(100%, #2c9ef0));
  background: -webkit-linear-gradient(-45deg, #8ef02c 0%, #2c9ef0 100%);
  background: -o-linear-gradient(-45deg, #8ef02c 0%, #2c9ef0 100%);
  background: -ms-linear-gradient(-45deg, #8ef02c 0%, #2c9ef0 100%);
  background: linear-gradient(135deg, #8ef02c 0%, #2c9ef0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ef02c', endColorstr='#2c9ef0', GradientType=1 );
}
.grd5{
  background: #2c9ef0;
  background: -moz-linear-gradient(-45deg, #2c9ef0 0%, #a52cf0 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #2c9ef0), color-stop(100%, #a52cf0));
  background: -webkit-linear-gradient(-45deg, #2c9ef0 0%, #a52cf0 100%);
  background: -o-linear-gradient(-45deg, #2c9ef0 0%, #a52cf0 100%);
  background: -ms-linear-gradient(-45deg, #2c9ef0 0%, #a52cf0 100%);
  background: linear-gradient(135deg, #2c9ef0 0%, #a52cf0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c9ef0', endColorstr='#a52cf0', GradientType=1 );
}


.prz{
  &-wp{
    min-width: 300px;
    max-width: 520px;
    margin: 0 auto;

    &-a{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-b{
      @extend .prz-wp-a;
      align-items: center;
    }

    &-c{
      height: 200px;
    }

    &-d{
      height: 250px;
    }
  }

  &-bg{
    &-a{
      height: 350px;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      z-index: 1;
      &-bg{
        width: 100%;
        height: 100%;
        filter: blur(10px);
      }
      &:before {
        content: '';
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 120%;
        background: rgba(30, 29, 32, 0.9);
      }
    }
  }

  &-link{
    &-a{
      text-decoration: none;
      color: #999899;
      font-size: 14px;
    }
  }

  &-btn{
    &-o{
      border: none;
      background: none;
      color: white;
    }

    &-a,&-b{
      color: #fff;
      border-radius: 25px;
      padding: 10px 35px;
      font-size: 16px;
      font-weight: 100;
      text-align: center;
      border: none;
      background: #772ae8;
      background: linear-gradient(90deg,#772ae8 0,#ef29b2);
    }

    &-a{
      &_big{
        @extend .prz-btn-a;
        width: 100%;
        padding: 20px;
        border-radius: 5px;
        max-width: 460px;
      }
    }

    &-b{
      background: none;
      box-shadow: 1px 0 0 0 #772ae8, 0 1px 0 0 #772ae8, 1px 0 0 0 #772ae8, -1px -1px 0 0 #ef29b2;

      &_small{
        @extend .prz-btn-b;
        padding: 7px 25px;
        font-size: 14px;
      }
    }

    &-c{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      padding: 5px;
      border: none;
      background: #772ae8;
      background: linear-gradient(90deg,#772ae8 0,#ef29b2);

      &_white{
        @extend .prz-btn-c;
        background: white;
        width: 45px;
        height: 45px;
      }
    }

    &-d{
      border: none;
      background: none;
      color: white;
      width: 100%;
      font-size: 16px;
      font-weight: 100;
      text-align: left;
      padding: 15px;
      border-bottom: 1px solid #333333;
    }

    &-e{
      width: 36px;
      height: 36px;
      border-radius: 50%;
      padding: 5px;
      border: none;
      background: none;
      box-shadow: 1px 0 0 0 #772ae8, 0 1px 0 0 #772ae8, 1px 0 0 0 #772ae8, -1px -1px 0 0 #ef29b2;
    }

    &-f{
      background: none;
      border: 1px solid #8c8c8c;
      padding: 3px 10px 2px;
      color: #8c8c8c;
      font-size: 14px;
      border-radius: 15px;
    }

    &-g{
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 1px solid white;
      background: none;
      position: relative;

      .prz-svg-a{
        svg{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) translateX(2px);
        }
      }
    }

    &-h{
      color: #999899;
      width: 20px;
      height: 20px;
      line-height: 22px;
      border-radius: 50%;
      margin: 0 auto 5px;
      font-size: 14px;
      position: relative;
      transition: all 1s linear;

      &_big{
        @extend .prz-btn-h;
        width: 50px;
        height: 50px;
        line-height: 16px;
        margin: 25px auto;
      }

      &-mid{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &.active{
        @extend .grd1;
        color: white;
      }
    }
  }

  &-box{
    &-a{
      position: relative;
      width: 100%;
      height: 380px;
      color: white;
      border-radius: 5px;
      overflow: hidden;
      &-wp{
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        padding: 0 25px;
      }
      &-bg{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover!important;
        &:after{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.6);
        }
      }

      &-info{
        &-name{
          font-size: 30px;
        }
        &-track{
          font-size: 12px;
          color: #8c8c8c;
        }
      }

      &-back{
        z-index: 10;
        position: absolute;
        left: 15px;
        top: 25px;
        background: none;
        border: none;
      }

      &_small{
        @extend .prz-box-a;
        height: 300px;
      }
    }

    &-b{
      width: 200px;
      height: 200px;
      margin: 0 0 0 20px;
      color: white;
      position: relative;
      display: inline-block;
      cursor: pointer;
      border-radius: 5px;
      overflow: hidden;
      &-wp{
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        padding: 0 10px;
      }
      &-bg{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover!important;
        &:after{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          opacity: .5;
          background: #772ae8;
          background: linear-gradient(90deg,#772ae8 0,#ef29b2);
        }
      }
      &-name{
        font-size: 20px;
      }
      &-time{
        font-size: 14px;
      }
    }

    &-c{
      width: 200px;
      height: 200px;
      margin: 0 0 0 20px;
      color: white;
      position: relative;
      display: inline-block;
      cursor: pointer;
      border-radius: 5px;
      overflow: hidden;
      &-wp{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        &:after{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.7);
        }
      }
      &-bg{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover!important;
      }
      &-title{
        position: relative;
        z-index: 1;
        font-size: 18px;
        white-space: normal;
      }
      &-date{
        position: relative;
        z-index: 1;
        font-size: 12px;
        color: #868889;
      }

      &_big{
        @extend .prz-box-c;
        height: 250px;
        width: 100%;
        margin: 0;
      }

      &_2inrow{
        @extend .prz-box-c;
        width: 47%;
        margin: 0 0 20px;
      }

      &_full{
        @extend .prz-box-c;
        width: 100%;
        margin: 0 0 20px;
      }
    }

    &-d{
      color: white;
      margin: 0 20px 20px;
      cursor: pointer;
      &-bg{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover!important;
        width: 100%;
        height: 100%;
        max-width: 75px;
        max-height: 75px;
        border-radius: 5px;
      }


      &-info{
        padding-left: 10px;
        &-track{
          font-size: 20px;
        }
        &-name{
          font-size: 14px;
          color: #8c8c8c;
        }
      }
      &-arr{
        font-size: 24px;
      }
    }

    &-e{
      width: 220px;
      height: 220px;
      margin: 0 0 0 20px;
      color: white;
      position: relative;
      display: inline-block;
      cursor: pointer;
      border-radius: 5px;
      overflow: hidden;
      text-align: left;
      &-wp{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        &:after{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.6);
        }

        &-a{

        }
      }
      &-bg{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover!important;
      }

      &-date{
        position: absolute;
        z-index: 2;
        left: 10px;
        top: 0;
        text-transform: uppercase;
        font-size: 10px;
        padding: 8px 14px;
        text-align: center;
        border-radius: 0 0 4px 4px;
        background: #772ae8;
        background: linear-gradient(90deg,#772ae8 0,#ef29b2);

        &-num{
          font-size: 18px;
        }
      }

      &-month{
        font-size: 12px;
        color: #8c8c8c;
        text-align: center;
      }

      &-title{
        position: relative;
        z-index: 1;
        font-size: 18px;
      }
      &-info{
        position: relative;
        z-index: 1;
        font-size: 14px;
        color: #8c8c8c;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }


      &_2inrow{
        @extend .prz-box-e;
        width: 47%;
        margin: 0 0 20px;
      }
    }

    &-f{
      border-bottom: 1px solid #cecece;
      padding: 15px;
      &-label{
        color: #000;
        font-size: 16px;
      }
      &-input{
        color: #333333;
        font-size: 16px;
        background: none;
        border: none;
        width: 100%;
        max-width: 100%;
        padding: 0 !important;

        input, textarea{
          text-align: left;
          color: #acacac;
        }
      }

      &-arr{
        position: relative;
        ion-icon{
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          font-size: 26px;
          color: #8f8e8f;
        }
      }
    }

    &-g{
      padding: 20px;
      min-height: 170px;
      &-ava{
        background-size: cover !important;
        border-radius: 5px;
      }
      &-info{
        &-h1{
          color: white;
          font-size: 26px;
          padding-left: 20px;
        }
        &-h2{
          @extend .c1;
          font-size: 14px;
          margin: 10px;
          padding-left: 20px;
        }
        &-soc{
          margin-top: 20px;
          padding-left: 5px;
        }
      }
    }

    &-h{
      height: 170px;
      background: #262529;
      display: flex;
      flex-wrap: wrap;
      margin: 0 30px 30px;
      padding: 20px 20px 15px;
      border-radius: 5px;

      &-header{}

      &-footer{
        width: 100%;
        align-self: flex-end;
      }
    }

    &-i{
      position: relative;
      &-bg{
        width: 80%;
        position: relative;
        z-index: 2;
      }

      &:after,
      &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 80%;
        height: 80%;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 0 5px 5px 0;
      }

      &:after{
        z-index: 1;
        height: 90%;
        width: 81.5%;
      }
      &:before{
        z-index: 0;
        width: 83%;
        box-shadow: 17px 20px 62px -9px rgba(0, 0, 0, 0.5);
      }
    }

    &-j{
      background: #000000;
      opacity: 0.9;
      margin: 0 10px 10px;
      border-radius: 5px;

      &-tweet{
        @extend .c1;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 10px;
        font-weight: 100;
      }
      &-from{
        color: white;
        font-size: 14px;
        line-height: 18px;
      }

      &_06{
        @extend .prz-box-j;
        opacity: 0.85;
      }
      &_04{
        @extend .prz-box-j;
        opacity: 0.8;
      }
      &_trans{
        @extend .prz-box-j;
        background: none;
      }
      &_def{
        @extend .prz-box-j;
        opacity: 1;
        margin: 0 0 20px;
        padding: 10px 0;
        background: rgba(255, 255, 255, 0.05);
      }
    }

    &-k{
      background: rgba(255, 255, 255, 0.2);
      padding: 10px;
      border-radius: 5px;
      margin: 20px 0;
      &-radio{
        &1,&2,&3,&4,&5{
          height: 70px;
          border-radius: 5px;
        }

        &1{
          @extend .grd1;
        }
        &2{
          @extend .grd2;
        }
        &3{
          @extend .grd3;
        }
        &4{
          @extend .grd4;
        }
        &5{
          @extend .grd5;
        }
      }

    }

    &-l{
      padding: 0 20px;
      height: calc(100%);
    }

    &-m{
      position: relative;
      z-index: 1;
      padding: 55px 0 0;
    }
  }

  &-title{
    &-a{
      color: white;
      font-size: 24px;
      padding: 20px 25px 20px;
    }

    &-b{
      color: white;
      font-size: 18px;
      font-weight: 100;
      text-align: center;
    }

    &-c{
      color: white;
      font-size: 30px;
      padding: 25px;
    }

    &-d{
      @extend .c1;
      font-size: 24px;
      margin-bottom: 10px;
    }

    &-e{
      color: #000;
      font-size: 18px;
    }
  }

  &-text{
    &-a{
      @extend .c1;
      font-size: 14px;
    }
    &-b{
      color: white;
      font-size: 16px;
    }
    &-c{
      @extend .c1;
      font-size: 12px;
    }
  }

  &-svg{
    &-a {
      svg{
        width: 22px;
        height: 22px;
        transition: all .2s linear;
      }
    }
    &-white {
      svg{
        fill: #fff;
      }
    }
    &-pink {
      svg{
        fill: #ef29b2;
      }
    }
  }

  &-music{
    display: block;
    height: 15px;
    position: relative;
    width: 22px;
    margin: 0 auto;
    span{
      position: absolute;
      bottom: 1px;
      display: inline-block;
      width: 2px;
      height: 15px;
      background: white;
      &:nth-child(1){
        left: 4px;
        animation: music .43s linear alternate infinite;
      }
      &:nth-child(2){
        left: 10px;
        animation: music .35s linear .1s alternate infinite;
      }
      &:nth-child(3){
        right: 4px;
        animation: music .27s linear .22s alternate infinite;
      }
    }

    &_black{
      @extend .prz-music;
      span{
        background: #000;
      }
    }
  }

  &-modal{
    &-a{
      position: absolute;
      z-index: 1;
      bottom: 55px;
      right: 0;
      width: 150px;
      background: #1e1d20;
      transform: scale(0);
      transform-origin: 100% 100%;
      box-shadow: -5px -5px 26px 0px rgba(0,0,0,0.2);
      transition: all 200ms linear;

      &-wp{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        &.active{
          display: block;
          .prz-modal-a{
            transform: scale(1);
          }
        }
      }
    }

    &-b{

    }
  }

  &-list{
    &-a{
      &-name{
        font-weight: 100;
      }
      &-arr{
        visibility: hidden;
      }

      &.active{
        .prz-list-a{
          &-name,&-arr{
            color: #ef29b2;
          }
          &-arr{
            visibility: visible;
          }
        }
      }
    }
  }

  &-filter{
    &-name{
      font-size: 11px;
      color: white;
    }
    &-item{
      font-size: 14px;
      font-weight: 100;
      padding: 8px 5px 8px 20px;
      border-radius: 15px 0 0 15px;
      margin: 0 0 10px;
      color: #b7b7b8;
      &.active{
        color: white;
        background: #772ae8;
        background: linear-gradient(90deg,#772ae8 0,#ef29b2);
      }
    }
  }

  &-blur{
    &-a{
      filter: blur(3px);
    }
  }

  &-play{
    &-bg{
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-size: cover !important;
      filter: blur(20px);

      &:after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);
      }
    }

    &-box{
      box-shadow: 0 8px 30px -14px #000000;
      border-radius: 5px;
      background-size: cover !important;
      width: 100%;
      height: 460px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      align-content: flex-end;

      &-wp{
        position: relative;
        z-index: 1;
        padding: 10px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
      }

      &-a{
        height: 300px;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        &-bg{
          box-shadow: 0 8px 30px -14px #000000;
          background-size: cover !important;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;

          &:after{
            @extend .grd1;
            content: '';
            opacity: 0.85;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
          }
        }

        &-logo{
          height: 70px;
          border-radius: 5px;
          overflow: hidden;
          position: relative;
          &-ico{
            width: 70%;
            height: 70%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);;
            background-size: contain !important;
          }

          &:before{
            @extend .grd1;
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
          }
        }
      }
    }

    &-btn{
      background: none;
      border: none;
      .prz-svg-a{
        svg{
          width: 65px;
          height: 65px;
        }
      }
    }

    &-dot{
      display: inline-block;
      vertical-align: middle;
      width: 6px;
      height: 6px;
      border-radius: 5px;
      background: #e52cbc;
    }
  }
}





