ion-content{
  background: #1e1d20 !important;
  color: white;
}
ion-footer {
  border-top: 1px solid #333333;
}
.tab-button-icon{
  color: white !important;
  &[ng-reflect-is-active="true"]{
    color: #ea2cb9 !important;
  }
}
img[src="http://maps.gstatic.com/mapfiles/api-3/images/google_white5_hdpi.png"], .gmnoprint:not(.gm-bundled-control) {
  display: none !important;
}
.gm-bundled-control .gmnoprint {
  display: block;
}

.alert{
  &-wrapper {
    border-radius: 5px !important;
    background-color: #1e1d20 !important;
  }

  &-head{
    color: white !important;
    padding: 15px !important;
    text-align: center !important;
  }

  &-title {
    font-size: 18px !important;
  }

  &-radio-group, &-checkbox-group {
    border-top: 1px solid #333235 !important;
    border-bottom: 1px solid #333235 !important;
  }
}

.toolbar {
  //min-height: 44px !important;

  &-background{
    border-bottom: 0 !important;
    background: rgba(30, 29, 32, 0.95) !important;

    .tabbar {
      background: rgba(30, 29, 32, 0.9) !important;
    }
  }


  &-title {
    white-space: nowrap;
    text-align: center;
    color: white !important;
  }
}
ion-header {
  &:after{
    display: none;
  }
}
ion-buttons[start] {
  order: 2;
}
