// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #8c8c8c,
  dark:       #222124
);

$alert-ios-radio-label-text-color: white;
$alert-md-radio-label-text-color: white;
$alert-wp-radio-label-text-color: white;

$alert-ios-radio-border-color-off: white;
$alert-md-radio-border-color-off: white;
$alert-wp-radio-border-color-off: white;

$alert-ios-button-text-color: white;
$alert-md-button-text-color: white;
$alert-wp-button-text-color: white;

$alert-ios-radio-label-text-color-checked: #ba3091;
$alert-md-radio-label-text-color-checked: #ba3091;
$alert-wp-radio-label-text-color-checked: #ba3091;

$alert-ios-radio-border-color-on: #ba3091;
$alert-md-radio-border-color-on: #ba3091;
$alert-wp-radio-border-color-on: #ba3091;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons";


// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";


// Main
// --------------------------------------------------
@import "rewrite";
@import "main";
@import "def";



// Media
// --------------------------------------------------
@import "media/index";
