<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()" class="prz-btn-o">
        <ion-icon [color]="'light'" ios="ios-arrow-down-outline" md="ios-arrow-down-outline" class="fsz30"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content no-padding>
  <ion-row>
    <ion-col col-2>
    </ion-col>
    <ion-col col-3>
      <span class="prz-filter-name">Event Type</span>
    </ion-col>
    <ion-col col-7 no-padding>
      <div (click)="setFilter(filter.event_type, item)" [ngClass]="{active: item.isActive}" *ngFor="let item of filter.event_type" class="prz-filter-item">
        {{item.name}}
      </div>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col col-2>
    </ion-col>
    <ion-col col-3>
      <span class="prz-filter-name">Location</span>
    </ion-col>
    <ion-col col-7 no-padding>
      <div (click)="setFilter(filter.location, item)" [ngClass]="{active: item.isActive}" *ngFor="let item of filter.location" class="prz-filter-item">
        {{item.name}}
      </div>
    </ion-col>
  </ion-row>
</ion-content>




