<ion-nav #nav [root]="rootPage"></ion-nav>

<audio #player><source src="http://62.210.251.156:9015/stream"></audio>

<div [ngClass]="{active: menuBtn}" (click)="showModal(false)" class="prz-modal-a-wp">
  <div class="prz-modal-a">
    <button (click)="setPage(residentsPage)" class="prz-btn-d">Resident DJ's</button>
    <button (click)="setPage(eventsPage)" class="prz-btn-d">Events</button>
    <button (click)="setPage(contactPage)" class="prz-btn-d">Contacts</button>
    <button (click)="setPage(jobsPage)" class="prz-btn-d">Jobs</button>
    <button (click)="setPage(privacyPage)" class="prz-btn-d">Privacy Policy</button>
  </div>
</div>

<ion-footer>
  <ion-toolbar>
    <ion-row align-items-center>
      <ion-col col-2 class="tac">
        <button (click)="setRootPage(homePage)" class="prz-btn-o">
          <span [ngClass]="{'prz-svg-pink': isActivePage(homePage)}" [inlineSVG]="'./assets/svg/home.svg'" class="prz-svg-a prz-svg-white"></span>
        </button>
      </ion-col>
      <ion-col col-2 class="tac inactive">
        <button (click)="setRootPage(showsPage)" class="prz-btn-o">
          <span [ngClass]="{'prz-svg-pink': isActivePage(showsPage)}" [inlineSVG]="'./assets/svg/shows.svg'" class="prz-svg-a prz-svg-white"></span>
        </button>
      </ion-col>
      <ion-col col-4 class="tac">
        <button (click)="playModal()" class="prz-btn-c">
          <span *ngIf="playing" class="prz-music">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <span *ngIf="!playing" [inlineSVG]="'./assets/svg/play.svg'" class="prz-svg-a prz-svg-white dibM" style="transform: translateX(2px)"></span>
        </button>
      </ion-col>
      <ion-col col-2 class="tac">
        <button (click)="setRootPage(newsPage)" class="prz-btn-o">
          <span [ngClass]="{'prz-svg-pink': isActivePage(newsPage)}" class="prz-svg-a prz-svg-white" [inlineSVG]="'./assets/svg/news.svg'"></span>
        </button>
      </ion-col>
      <ion-col col-2 class="tac">
        <button (click)="showModal(!menuBtn)" class="prz-btn-o">
          <span *ngIf="menuBtn" [inlineSVG]="'./assets/svg/menu.svg'" class="prz-svg-a prz-svg-pink"></span>
          <span *ngIf="!menuBtn" [inlineSVG]="'./assets/svg/!menu.svg'" class="prz-svg-a prz-svg-white"></span>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
