<ion-header>
  <ion-toolbar [hidden]="true">
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="news" no-padding>
  <div class="prz-box-a_small">
    <div [ngStyle]="{background: 'url(' + news.image + ') center center no-repeat'}" class="prz-box-a-bg"></div>

    <button back class="prz-box-a-back">
      <ion-icon [color]="'light'" ios="ios-arrow-back" md="ios-arrow-back" class="fsz30"></ion-icon>
    </button>
  </div>


  <div class="prz-title-c pb5">{{news.title}}</div>
  <div class="c1 fsz14 ph25 pb40">
    {{news.publishAt | date: 'MMMM dd, y'}}
    at
    {{news.publishAt | date: 'HH:mm'}}
  </div>

  <ion-row>
    <ion-col col-2>
    </ion-col>
    <ion-col col-10>
      <!--<div class="cw fsz18 lh22 mb10">-->
        <!--Sun Is Shining World Tour - Axwell & Ingrosso-->
      <!--</div>-->

      <div [innerHTML]="news.content" class="c1 fsz14 lh22"></div>
    </ion-col>
  </ion-row>

  <!--<div class="prz-box-i mb50">-->
    <!--<img class="prz-box-i-bg" src="assets/bg-a.jpg" alt="">-->
  <!--</div>-->

  <!--<ion-row>-->
    <!--<ion-col col-2>-->
    <!--</ion-col>-->
    <!--<ion-col col-10>-->
      <!--<div class="cw fsz18 lh22 mb10">-->
        <!--Sun Is Shining World Tour - Axwell & Ingrosso-->
      <!--</div>-->

      <!--<div class="c1 fsz14 lh22">-->
        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at aut consequatur distinctio inventore iure quae quos tempora temporibus ullam. Accusantium ad architecto assumenda autem distinctio dolorem, dolores, est et excepturi expedita illum incidunt labore, minima nisi non perferendis quae quasi quidem recusandae repudiandae sapiente tempora velit voluptatem! Consequuntur, facilis!-->
        <!--<br>-->
        <!--<br>-->
        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at aut consequatur distinctio inventore iure quae quos tempora temporibus ullam. Accusantium ad architecto assumenda autem distinctio dolorem, dolores, est et excepturi expedita illum incidunt labore, minima nisi non perferendis quae quasi quidem recusandae repudiandae sapiente tempora velit voluptatem! Consequuntur, facilis!-->
      <!--</div>-->
    <!--</ion-col>-->
  <!--</ion-row>-->






  <div style="height: 80px;display: block;"></div>
</ion-content>





