<ion-header>
  <ion-toolbar>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="news.length > 0" no-padding>
  <div class="ph25">
    <div (click)="openNews(news[0])" class="prz-box-c_big">
      <div [ngStyle]="{background: 'url(' + news[0].image + ') center 0 no-repeat'}" class="prz-box-c-bg"></div>

      <div class="prz-box-c-wp">
        <div class="prz-box-c-title">{{news[0].title}}</div>
        <div class="prz-box-c-date">{{news[0].updatedAt | date: 'MMM dd, y'}}</div>
      </div>
    </div>
  </div>


  <div class="hr"></div>


  <div class="prz-title-a">Latest News</div>
  <ion-scroll scrollX="true" class="prz-wp-c">
    <div class="wsn">
      <div (click)="openNews(i)" *ngFor="let i of news; let index = index;">
        <div *ngIf="index > 0" class="prz-box-c">
          <div [ngStyle]="{background: 'url(' + i.image + ') center center no-repeat'}" class="prz-box-c-bg"></div>

          <div class="prz-box-c-wp">
            <div class="prz-box-c-title">{{i.title}}</div>
            <div class="prz-box-c-date">{{i.updatedAt | date: 'MMM dd, y'}}</div>
          </div>
        </div>
      </div>
    </div>
  </ion-scroll>

  <div class="hr"></div>


  <div class="prz-title-a">Highlighted</div>
  <ion-scroll scrollX="true" class="prz-wp-c">
    <div class="wsn">
      <div (click)="openNews(i)" *ngFor="let i of highlighted" class="prz-box-c">
        <div [ngStyle]="{background: 'url(' + i.image + ') center center no-repeat'}" class="prz-box-c-bg"></div>

        <div class="prz-box-c-wp">
          <div class="prz-box-c-title">{{i.title}}</div>
          <div class="prz-box-c-date">{{i.updatedAt | date: 'MMM dd, y'}}</div>
        </div>
      </div>
    </div>
  </ion-scroll>




  <div style="height: 80px;display: block;"></div>
</ion-content>
