<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="dismiss()" class="prz-btn-o">
        <ion-icon [color]="'light'" ios="ios-arrow-down-outline" md="ios-arrow-down-outline" class="fsz30"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="cw">Stations</ion-title>
  </ion-toolbar>
</ion-header>


<div [ngStyle]="{background: 'url(' + currentSong.cover + ') center center no-repeat'}" class="prz-play-bg"></div>


<ion-content no-padding>
  <div class="prz-wp pall20">
    <div class="cw fsz12 mb10 ml15">Now Playing</div>


    <div class="prz-play-box-a mb30">
      <div [ngStyle]="{background: 'url(' + currentSong.cover + ') center center no-repeat'}" class="prz-play-box-a-bg"></div>

      <div class="prz-play-box-wp">
        <ion-row align-items-center class="w100p">
          <ion-col col-2>
            <div class="prz-play-box-a-logo">
              <div class="prz-play-box-a-logo-ico" [ngStyle]="{background: 'url(assets/logo.png) center center no-repeat'}"></div>
            </div>
          </ion-col>
          <ion-col col-8>
            <div class="pl10">
              <div class="cw fsz18">{{currentSong.title}}</div>
              <div class="cw fsz14 fw100">{{currentSong.artist}}</div>
            </div>
          </ion-col>
          <ion-col col-2>
            <button class="prz-btn-c_white">
                <span class="prz-music_black">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </button>
          </ion-col>
        </ion-row>


        <div class="w100p">
          <div *ngFor="let i of tweets; let index = index;">
            <ion-row *ngIf="index < 2" class="prz-box-j_04">
              <ion-col col-2 class="tac">
                <span [inlineSVG]="'./assets/svg/tw.svg'" class="prz-svg-a prz-svg-pink"></span>
              </ion-col>
              <ion-col col-10 class="tal">
                <div [innerHTML]="i.text" class="prz-box-j-tweet"></div>
                <div class="prz-box-j-from">{{i.user.name}}</div>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </div>


    <ion-row align-items-center class="prz-box-k inactive">
      <ion-col col-2 class="prz-box-k-radio2">
      </ion-col>
      <ion-col col-8>
        <div class="pl10">
          <div class="cw fsz18">Gravhit</div>
          <div class="cw fsz14 fw100">Views by Drake</div>
        </div>
      </ion-col>
      <ion-col col-2>
        <button class="prz-btn-g">
          <span [inlineSVG]="'./assets/svg/play.svg'" class="prz-svg-a prz-svg-white"></span>
        </button>
      </ion-col>
    </ion-row>
    <ion-row align-items-center class="prz-box-k inactive">
      <ion-col col-2 class="prz-box-k-radio3">
      </ion-col>
      <ion-col col-8>
        <div class="pl10">
          <div class="cw fsz18">Oppozhit</div>
          <div class="cw fsz14 fw100">Views by Drake</div>
        </div>
      </ion-col>
      <ion-col col-2>
        <button class="prz-btn-g">
          <span [inlineSVG]="'./assets/svg/play.svg'" class="prz-svg-a prz-svg-white"></span>
        </button>
      </ion-col>
    </ion-row>
    <ion-row align-items-center class="prz-box-k inactive">
      <ion-col col-2 class="prz-box-k-radio4">
      </ion-col>
      <ion-col col-8>
        <div class="pl10">
          <div class="cw fsz18">Earhit</div>
          <div class="cw fsz14 fw100">Views by Drake</div>
        </div>
      </ion-col>
      <ion-col col-2>
        <button class="prz-btn-g">
          <span [inlineSVG]="'./assets/svg/play.svg'" class="prz-svg-a prz-svg-white"></span>
        </button>
      </ion-col>
    </ion-row>
    <ion-row align-items-center class="prz-box-k inactive">
      <ion-col col-2 class="prz-box-k-radio5">
      </ion-col>
      <ion-col col-8>
        <div class="pl10">
          <div class="cw fsz18">XXX</div>
          <div class="cw fsz14 fw100">Views by Drake</div>
        </div>
      </ion-col>
      <ion-col col-2>
        <button class="prz-btn-g">
          <span [inlineSVG]="'./assets/svg/play.svg'" class="prz-svg-a prz-svg-white"></span>
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>






