<ion-header>
  <ion-toolbar [hidden]="true">
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <button back class="prz-box-a-back">
    <ion-icon [color]="'light'" ios="ios-arrow-back" md="ios-arrow-back" class="fsz30"></ion-icon>
  </button>
  <div #map id="map"></div>



  <ion-row (click)="setMapCenter(item)" *ngFor="let item of timetable" center class="prz-box-f">
    <ion-col center="" col-6>
      <div class="prz-title-e">{{item.dateTime | date:'MMM, dd'}}</div>
      <div class="prz-text-c">{{item.dateTime | date:'h:mm a'}}</div>
    </ion-col>
    <ion-col col-4>
      <div class="prz-title-e">{{item.city}}</div>
      <div class="prz-text-c">{{item.country}}</div>
    </ion-col>
    <ion-col col-2 class="tar">
      <ion-icon class="fsz28" ios="ios-clock-outline" md="ios-clock-outline"></ion-icon>
    </ion-col>
  </ion-row>



  <div style="height: 56px;display: block;"></div>
</ion-content>





