<ion-header>
  <ion-toolbar [hidden]="true">
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="event" no-padding>
  <div class="prz-box-a_small">
    <div [ngStyle]="{background: 'url(' + event.image + ') center center no-repeat'}" class="prz-box-a-bg"></div>

    <button back class="prz-box-a-back">
      <ion-icon [color]="'light'" ios="ios-arrow-back" md="ios-arrow-back" class="fsz30"></ion-icon>
    </button>
  </div>

  <div class="prz-title-c">{{event.title}}</div>

  <div class="ph25 pt20 pb40">
    <button (click)="openLink(event.buy_tickets_link)" class="prz-btn-a dibM mr10">Purchase Tickets</button>

    <button *ngIf="event.facebook" (click)="openLink(event.facebook)" class="prz-btn-e ml10 dibM">
      <span [inlineSVG]="'./assets/svg/fb.svg'" class="prz-svg-a prz-svg-white"></span>
    </button>
    <button *ngIf="event.twitter" (click)="openLink(event.twitter)" class="prz-btn-e ml10 dibM">
      <span [inlineSVG]="'./assets/svg/tw.svg'" class="prz-svg-a prz-svg-white"></span>
    </button>
    <button *ngIf="event.instagram" (click)="openLink(event.instagram)" class="prz-btn-e ml10 dibM">
      <span [inlineSVG]="'./assets/svg/sc.svg'" class="prz-svg-a prz-svg-white"></span>
    </button>
  </div>

  <ion-row class="mb25">
    <ion-col col-2>
    </ion-col>
    <ion-col col-4 class="prz-text-a">
      Where:
    </ion-col>
    <ion-col col-6 class="prz-text-b">
      <span [innerHTML]="event.place"></span>
    </ion-col>
  </ion-row>
  <ion-row class="mb25">
    <ion-col col-2>
    </ion-col>
    <ion-col col-4 class="prz-text-a">
      When:
    </ion-col>
    <ion-col col-6 class="prz-text-b">
      {{event.createdAt | date: 'MMMM dd, y'}}
      at
      {{event.createdAt | date: 'HH:mm'}}
    </ion-col>
  </ion-row>
  <ion-row class="mb25">
    <ion-col col-2>
    </ion-col>
    <ion-col col-4 class="prz-text-a">
      Table Service:
    </ion-col>
    <ion-col col-6 class="prz-text-b">
      {{event.table_service}}
    </ion-col>
  </ion-row>
  <ion-row class="mb40">
    <ion-col col-2>
    </ion-col>
    <ion-col col-4 class="prz-text-a">
      General Info:
    </ion-col>
    <ion-col col-6 class="prz-text-b">
      {{event.general_info}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2>
    </ion-col>
    <ion-col col-10 class="prz-text-a lh22">
      <span [innerHTML]="event.content"></span>
    </ion-col>
  </ion-row>


  <div *ngIf="event.artists.length">
    <div class="hr mb20"></div>

    <ion-row *ngFor="let i of event.artists" class="prz-box-g">
      <ion-col [ngStyle]="{background: 'url(' + i.image + ') center center no-repeat'}" col-4 class="prz-box-g-ava">
      </ion-col>
      <ion-col align-self-end col-8 class="prz-box-g-info">
        <div class="prz-box-g-info-h1">{{i.name}}</div>
        <div class="prz-box-g-info-h2">{{i.biography | truncate: 30}}</div>

        <div class="prz-box-g-info-soc">
          <button (click)="openRadioShows()" class="prz-btn-a dibM">Radio Show</button>


          <button *ngIf="i.facebook" (click)="openLink(i.facebook)" class="prz-btn-e ml10 dibM">
            <span [inlineSVG]="'./assets/svg/fb.svg'" class="prz-svg-a prz-svg-white"></span>
          </button>
          <button *ngIf="i.twitter" (click)="openLink(i.twitter)" class="prz-btn-e ml10 dibM">
            <span [inlineSVG]="'./assets/svg/tw.svg'" class="prz-svg-a prz-svg-white"></span>
          </button>
          <button *ngIf="i.instagram" (click)="openLink(i.instagram)" class="prz-btn-e ml10 dibM">
            <span [inlineSVG]="'./assets/svg/sc.svg'" class="prz-svg-a prz-svg-white"></span>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div style="height: 56px;display: block;"></div>
</ion-content>





