<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="dismiss()" class="prz-btn-o">
        <ion-icon [color]="'light'" ios="ios-arrow-down-outline" md="ios-arrow-down-outline" class="fsz30"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<div [ngStyle]="{background: 'url(assets/bg-a.jpg) center center no-repeat'}" class="prz-play-bg"></div>


<ion-content no-padding>
  <div *ngIf="currentSong" class="prz-wp tac pall20">
    <div class="cw fsz26 fw700 mb5">{{currentSong.title}}</div>
    <div class="cw fsz14 mb25">{{currentSong.artist}}</div>

    <div [ngStyle]="{background: 'url(' + currentSong.cover + ') center center no-repeat'}" class="prz-play-box">

      <div *ngFor="let i of tweets; let index = index;">
        <ion-row *ngIf="index < 3" class="prz-box-j_04">
          <ion-col col-2 class="tac">
            <span [inlineSVG]="'./assets/svg/tw.svg'" class="prz-svg-a prz-svg-pink"></span>
          </ion-col>
          <ion-col col-10 class="tal">
            <div [innerHTML]="i.text" class="prz-box-j-tweet"></div>
            <div class="prz-box-j-from">{{i.user.name}}</div>
          </ion-col>
        </ion-row>
      </div>
    </div>


    <ion-row align-items-center class="mv50">
      <ion-col col-4 class="c2 tal fsz14">
        <span class="prz-play-dot"></span>
        <span class="dibM">On Air</span>
      </ion-col>
      <ion-col col-4>
        <button (click)="toggle()"  class="prz-play-btn">
          <span *ngIf="!playing" [inlineSVG]="'./assets/svg/play.svg'" class="prz-svg-a prz-svg-white dibM" style="transform: translateX(2px)"></span>

          <span *ngIf="playing" [inlineSVG]="'./assets/svg/pause.svg'" class="prz-svg-a prz-svg-white"></span>
        </button>
      </ion-col>
      <ion-col col-4 class="cw tar fsz12">
        02:00 - 03:00
      </ion-col>
    </ion-row>


    <button (click)="stationsModal()" class="prz-btn-a_big">
      <span [inlineSVG]="'./assets/svg/stations.svg'" class="prz-svg-a prz-svg-white dibM"></span>
      <span class="dibM">Stations</span>
    </button>
  </div>
</ion-content>



