<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()" class="prz-btn-o">
        <ion-icon [color]="'light'" ios="ios-arrow-back" md="ios-arrow-back" class="fsz30"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content no-padding>
  <ion-list>
    <ion-item [ngClass]="{active: selected == item}" (click)="itemSelected(item)" *ngFor="let item of list" class="prz-list-a">
      <span class="prz-list-a-name">{{ item }}</span>

      <ion-icon class="prz-list-a-arr" item-right name="checkmark"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>



