contacts-modal{
  ion-header{
    &:after{
      display: none;
    }
  }
  ion-content{
    background: #e7e7e7 !important;
  }
  .toolbar-background {
    background: #e7e7e7 !important;
  }
  .item-block {
    background: #e7e7e7 !important;
  }
}

