<ion-header>
  <ion-toolbar>
    <ion-title>Shows</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content no-padding>
  <ion-row class="prz-box-l">
    <ion-col col-10>
      <ion-scroll scrollY="true" class="h100p">
        <div *ngFor="let i of [0,1,2,3,4,5,6]" class="prz-box-c_full">
          <div [ngStyle]="{background: 'url(assets/bg-a.jpg) center 0 no-repeat'}" class="prz-box-c-bg"></div>

          <div class="prz-box-c-wp prz-wp-b">
            <div class="prz-box-c-title">Drake</div>
            <div class="prz-box-c-date">04:00</div>
          </div>
        </div>


        <div style="height: 56px;display: block;"></div>
      </ion-scroll>
    </ion-col>
    <ion-col col-2 class="tac">
      <div (click)="setDay(day)" *ngFor="let day of week.arr" [ngClass]="{active: day.isActive}" class="prz-btn-h_big">
        <div class="prz-btn-h-mid">
          <div class="fsz16">{{day.date | date:'d'}}</div>
          <div *ngIf="!day.isActive" class="fw100 fsz14">{{day.date | date:'EEE'}}</div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
