<ion-header>
  <ion-navbar [hidden]="true" *navbar>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="job" no-padding>
  <ion-row center class="prz-box-e-wp-a pall5">
    <ion-col col-3>
      <button (click)="historyBack()" class="prz-btn-o">
        <ion-icon [color]="'light'" ios="ios-arrow-back" md="ios-arrow-back" class="fsz30"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-9>
    </ion-col>
  </ion-row>


  <div class="pall20 pt10">
    <div class="cw fsz30 mb5">{{job.title}}</div>
    <div class="prz-text-a mb25">location: <span>{{job.location}}</span></div>



    <!--<div>-->
      <!--<button class="prz-btn-f">Part-Time</button>-->
      <!--<button class="prz-btn-f ml5">Freelance</button>-->
    <!--</div>-->






    <div class="cw fsz18 mv30">Company Info</div>
    <ion-row>
      <ion-col col-2>
      </ion-col>
      <ion-col col-4 class="prz-text-a">
        Industry:
      </ion-col>
      <ion-col col-6 class="prz-text-b">
        Electronic Dance Music
      </ion-col>
    </ion-row>
    <ion-row class="mb30">
      <ion-col col-2>
      </ion-col>
      <ion-col col-4 class="prz-text-a">
        Headquarters:
      </ion-col>
      <ion-col col-6 class="prz-text-b">
        Amsterdam, JB, The Netherlands
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
      </ion-col>
      <ion-col col-10 class="prz-text-a lh22">
        Parazhit is the world's largest electronic music radio station. Founded in 2010 with a single channel, Parazhit today offers 13 specialized streams via the Web, mobile applications, and third-party streaming partners. Through a vast catalog of electronic music, Parazhit ensures a superior listening experience with authenticity, originality, and depth.
        <br>
        <br>
        Proud to highlight the electronic music all over the world, we collaborate with the biggest festivals such as Tomorrowland, Ultra Music Festival (Worldwide), Dreamfields, The Amsterdam Dance Event and even the Electrobeach Music Festival (Port-Barcares, FR). We are also collaborating with many prestigious companies such as ID&amp;T, Alda Events, Spinnin' Records or Universal Music.
      </ion-col>
    </ion-row>


    <div class="cw fsz18 mv30">Job Description</div>
    <ion-row>
      <ion-col col-2>
      </ion-col>
      <ion-col col-10 class="prz-text-a lh22">
        <span [innerHTML]="job.job_description"></span>
      </ion-col>
    </ion-row>

    <div class="cw fsz18 mv30">Role Overview</div>
    <ion-row>
      <ion-col col-2>
      </ion-col>
      <ion-col col-10 class="prz-text-a lh22">
        <span [innerHTML]="job.role_description"></span>
      </ion-col>
    </ion-row>


    <div class="cw fsz18 mv30">Contacts</div>
    <ion-row class="mb20">
      <ion-col col-2>
      </ion-col>
      <ion-col col-10 class="prz-text-a lh22">
        Dimitri Boch Zuzek - CEO
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
      </ion-col>
      <ion-col col-4 class="prz-text-a">
        E-mail:
      </ion-col>
      <ion-col col-6 class="prz-text-b">
        dimitri@parazhit.com
      </ion-col>
    </ion-row>
    <ion-row class="mb40">
      <ion-col col-2>
      </ion-col>
      <ion-col col-4 class="prz-text-a">
        Phone:
      </ion-col>
      <ion-col col-6 class="prz-text-b">
        +33 (0) 660-431-302
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
      </ion-col>
      <ion-col col-10 class="prz-text-a lh22">
        <button (click)="openContacts()" class="prz-btn-a w100p">Apply for this position</button>
      </ion-col>
    </ion-row>
  </div>




  <div style="height: 56px;display: block;"></div>
</ion-content>





