<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only back class="prz-btn-o">
        <ion-icon [color]="'light'" ios="ios-arrow-back" md="ios-arrow-back" class="fsz30"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="cw">Events</ion-title>

    <ion-buttons end>
      <button (click)="filterModal()" class="prz-btn-b_small">Filter</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content no-padding>
  <div [ngClass]="{'prz-blur-a': blurOnFilter}">
    <!--<ion-row center class="prz-box-e-wp-a pall5">-->
      <!--<ion-col col-3>-->
        <!--<button (click)="historyBack()" class="prz-btn-o">-->
          <!--<ion-icon [color]="'light'" ios="ios-arrow-back" md="ios-arrow-back" class="fsz30"></ion-icon>-->
        <!--</button>-->
      <!--</ion-col>-->
      <!--<ion-col col-6 class="prz-title-b">-->
        <!--Events-->
      <!--</ion-col>-->
      <!--<ion-col col-3 class="tar">-->
        <!--<button (click)="filterModal()" class="prz-btn-b_small">Filter</button>-->
      <!--</ion-col>-->
    <!--</ion-row>-->




    <ion-row class="prz-box-e-wp-a">
      <ion-col col-2>
        <div class="prz-box-e-month">Apr</div>
      </ion-col>
      <ion-col col-10 class="tac">
        <div class="prz-wp-a">
          <div (click)="openEvent(i)" *ngFor="let i of events | eventsPipe: filterArgs" class="prz-box-e_2inrow mb15">
            <div [ngStyle]="{background: 'url(' + i.image + ') center center no-repeat'}" class="prz-box-e-bg"></div>

            <div class="prz-box-e-date">
              <div class="prz-box-e-date-num">{{i.date_time | date: 'dd'}}</div>
              {{i.date_time | date: 'MMM'}}
            </div>

            <div class="prz-box-e-wp">
              <div class="prz-box-e-title">{{i.title}}</div>
              <div class="prz-box-e-info">{{i.city}} / {{i.place}}</div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>



    <div style="height: 56px;display: block;"></div>
  </div>
</ion-content>




