<ion-header>
  <ion-toolbar [hidden]="true">
  </ion-toolbar>
</ion-header>


<ion-content no-padding>
  <button back class="prz-box-a-back">
    <ion-icon [color]="'light'" ios="ios-arrow-back" md="ios-arrow-back" class="fsz30"></ion-icon>
  </button>


  <div class="pall20 pt75">
    <div class="cw fsz30">Private Policy</div>


    <div class="cw fsz18 mt30 mb20">1. Introduction</div>
    <ion-row>
      <ion-col col-2 class="c1 fsz14 lh22 tar">
        1.1
      </ion-col>
      <ion-col col-10 class="c1 fsz14 lh22">
        We are committed to safeguarding the privacy of our website visitors; in this
        policy we explain how we will treat your personal information.
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 class="c1 fsz14 lh22 tar">
        1.2
      </ion-col>
      <ion-col col-10 class="c1 fsz14 lh22">
        By using our website and agreeing to this policy, you consent to our use of
        cookies in accordance with the terms of this policy.
      </ion-col>
    </ion-row>



    <div class="cw fsz18 mt30 mb20">2. Using personal information</div>
    <ion-row>
      <ion-col col-2 class="c1 fsz14 lh22 tar">
        2.1
      </ion-col>
      <ion-col col-10 class="c1 fsz14 lh22">
        Personal information submitted to us through our website will be used for the
        purposes specified in this policy or on the relevant pages of the website.
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 class="c1 fsz14 lh22 tar">
        2.2
      </ion-col>
      <ion-col col-10 class="c1 fsz14 lh22">
        We may use your personal information to:


        <div class="pl30">
          (a) [administer our website and business];
          <br>
          (b) [personalise our website for you];
          <br>
          (c) [enable your use of the services available on our website];
          <br>
          (d) [send you goods purchased through our website];
        </div>
      </ion-col>
    </ion-row>
  </div>



  <div style="height: 80px;display: block;"></div>
</ion-content>





